<body class="bg-gradient-primary">
   <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center align-items-center d-flex vh-100 ofa">
         <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-md-5 my-sm-3">
               <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                     <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                     <div class="col-lg-7">
                        <div class="p-5">
                           <div class="text-center">
                              <h1 class="h4 text-gray-900 mb-4">Add Personal Details</h1>
                           </div>
                           <form class="user">
                              <div class="form-group row">
                                 <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control " id="exampleFirstName"
                                       placeholder="First Name">
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="text" class="form-control " id="exampleLastName"
                                       placeholder="Last Name">
                                 </div>
                              </div>

                              <div class="form-group row">
                                 <div class="col-sm-6 mb-3 mb-sm-0">
                                    <select id="countrySelect" [(ngModel)]="selectedCountry" name="selectedCountry"
                                       class="cool-sel">
                                       <option value="">Country</option>
                                       <option *ngFor="let country of countries" [value]="country.code">
                                          {{ country.name }}
                                       </option>
                                    </select>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="text" class="form-control " id="state" placeholder="State">
                                 </div>

                              </div>
                              <div class="form-group row">
                                 <div class="col-sm-6 mb-3 mb-sm-0">
                                    <select id="genderSelect" name="genderSelect" class="cool-sel">
                                       <option value="">
                                          Gender
                                       </option>
                                       <option value="Male">
                                          Male
                                       </option>
                                       <option value="Female">
                                          Female
                                       </option>
                                       <option value="Other">
                                          Other
                                       </option>
                                    </select>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="text" class="form-control " id="district" placeholder="District">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <div class="col-sm-6 sp">
                                    <input type="text" class="form-control " id="religion" placeholder="Religion">
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="datetime" placeholder="DOB" class="form-control ">
                                 </div>
                              </div>


                              <div class="form-group">
                                 <div class="custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                    <label class="custom-control-label" for="customCheck">By signing up I agree to <a
                                          href="#">Terms & Conditions</a></label>
                                 </div>
                              </div>
                              <a [routerLink]="['/']" class="btn btn-primary btn-user btn-block">
                                 Register Account
                              </a>


                              <hr>
                              <div class="text-center">
                                 <a class="small" [routerLink]="['/forgot-password']">Forgot Password?</a>
                              </div>
                              <div class="text-center">
                                 <a class="small" [routerLink]="['/login']">Already have an Account? Login!</a>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>