.card-img-top{
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.red-circle{
    color: red;
}

.green-circle{
    color: green;
}

.imgc{
    position: relative;
  width: 100%;
  padding-bottom: calc(2 / 3 * 100%);
}