<div class="artist-list mb-3 linkkk" *ngFor="let option of options">
    <a [class]="selected==option?'d-flex align-items-center border p-2 selected':'d-flex align-items-center border p-2'" (click)="selectOption(option)">
        <div class="dropdown-list-image mr-3">
            <img class="rounded-circle" [src]="option?.img || '/assets/img/s1.png'" alt="">
            <div class="status-indicator bg-success"></div>
        </div>
        <div class="font-weight-bold">
            <div class="text-truncate">{{option?.name}}</div>
        </div>
    </a>
</div>

<div class="red" *ngIf="voteErr">
    Select at least 1 option</div>
    <div class="red" *ngIf="votes.err">
        {{votes.err}}</div>

<button class="btn btn-primary btn-user btn-block text-white" [disabled]="voted" (click)="vote(selected||'')">
    {{voted?'You have already Voted':'Vote'}}
</button>

<div id="dddddd" *ngIf="voted">
<a [href]="'/result/'+pollId" id="result_link">Result Link</a></div>