.avatar-container {
    width: 150px; /* Adjust the width and height as needed */
    height: 150px;
    border: 2px solid #aaa; /* Optional: Add a border around the avatar */
    overflow: hidden;
    border-radius: 50%; /* This creates a circular shape */
  }


