<app-frame>
   <div class="row">
      <div class="col-xl-12 col-lg-12">
         <div class="cover-pic">
            <img src="/assets/img/cover2.jpg" class="img-fluid" alt="...">
         </div>
      </div>
      <div class="col-xl-12 col-lg-12">
         <div class="bg-white info-header shadow rounded mb-4">
            <div class="row d-flex align-items-center justify-content-between py-3 px-4 border-bottom">
               <div class="col-lg-7 m-b-4">
                  <h3 class="text-gray-900 mb-0 mt-0 font-weight-bold">The FIFA World Cup</h3>
                  <p class="mb-0"><small class="text-muted"><i class="fas fa-map-marker-alt fa-fw fa-sm mr-1"></i> Vancouver, Canada</small></p>
               </div>
               <div class="col-lg-5 text-right">
                  <a href="#" class="d-sm-inline-block btn btn-primary shadow-sm"><i class="fas fa-share-alt"></i></a>
                  <a href="#" class="d-sm-inline-block btn btn-danger shadow-sm"> Add to Watchlist <i class="fas fa-plus fa-sm  ml-1"></i></a>
               </div>
            </div>
            <div class="row d-flex align-items-center justify-content-between py-3 px-4">
               <div class="col-lg-6">
                  <p class="mb-0 text-gray-900"><i class="fas fa-calendar-alt fa-sm fa-fw mr-1"></i> Sun 15 Dec at 4:00 PM</p>
               </div>
               <div class="col-lg-6 text-right">
                  <p class="mb-0 text-gray-600"><i class="fas fa-film fa-sm fa-fw mr-1"></i> Classical, Rock, Sufi | English, Hindi | 12+</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-xl-3 col-lg-3">
         <div class="bg-white p-3 widget shadow rounded mb-4">
            <h1 class="h6 mb-3 mt-0 font-weight-bold text-gray-900">Players	</h1>
            <div class="artist-list mb-3">
               <a class="d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                     <img class="rounded-circle" src="/assets/img/s1.png" alt="">
                     <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                     <div class="text-truncate">Carla Gugino</div>
                     <div class="small text-gray-500">Acting</div>
                  </div>
               </a>
            </div>
            <div class="artist-list mb-3">
               <a class="d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                     <img class="rounded-circle" src="/assets/img/s2.png" alt="">
                     <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                     <div class="text-truncate">Sylvester Stallone</div>
                     <div class="small text-gray-500">Acting</div>
                  </div>
               </a>
            </div>
            <div class="artist-list mb-3">
               <a class="d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                     <img class="rounded-circle" src="/assets/img/s3.png" alt="">
                     <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                     <div class="text-truncate">Rose Byrne</div>
                     <div class="small text-gray-500">Acting</div>
                  </div>
               </a>
            </div>
      <div class="artist-list mb-3">
               <a class="d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                     <img class="rounded-circle" src="/assets/img/s1.png" alt="">
                     <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                     <div class="text-truncate">Carla Gugino</div>
                     <div class="small text-gray-500">Acting</div>
                  </div>
               </a>
            </div>
            <div class="artist-list mb-3">
               <a class="d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                     <img class="rounded-circle" src="/assets/img/s2.png" alt="">
                     <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                     <div class="text-truncate">Sylvester Stallone</div>
                     <div class="small text-gray-500">Acting</div>
                  </div>
               </a>
            </div>
            <div class="artist-list mb-3">
               <a class="d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                     <img class="rounded-circle" src="/assets/img/s3.png" alt="">
                     <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                     <div class="text-truncate">Rose Byrne</div>
                     <div class="small text-gray-500">Acting</div>
                  </div>
               </a>
            </div>
            <div class="artist-list">
               <a class="d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                     <img class="rounded-circle" src="/assets/img/s4.png" alt="">
                     <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                     <div class="text-truncate">Jason Statham</div>
                     <div class="small text-gray-500">Acting</div>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="col-xl-6 col-lg-6">
         <div class="bg-white p-3 widget shadow rounded mb-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
               <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Summary</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Date And Time
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">FAQ</a>
               </li>
            </ul>
            <div class="tab-content" id="myTabContent">
               <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <h5 class="mt-0 mb-3">New Year's Eve on the Waterfront</h5>
                  <p>Boston Harbor Now in partnership with the Friends of Christopher Columbus Park, the Wharf District Council and the City of Boston is proud to announce the New Year's Eve Midnight Harbor Fireworks! This beloved nearly 40-year old tradition is made possible by the generous support of local waterfront organizations and businesses and the support of the City of Boston and the Office of Mayor Marty Walsh.</p>
                  <p>Join us as we ring in the New Year with a dazzling display over Boston Harbor. Public viewing is free and available from the Harborwalk of these suggested viewing locations:</p>
                  <ul>
                     <li>Christopher Columbus Park, North End</li>
                     <li>Fan Pier, Seaport District</li>
                     <li>East Boston Harborwalk</li>
                  </ul>
                  <p>The show will begin promptly at midnight.</p>
                  <p class="mb-0">Register here for a reminder and updates about the harbor fireworks and other waterfront public programs as they become available. Be the first to be notified for popular waterfront New Year's Eve public activities.</p>
               </div>
               <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <h5 class="mt-0 mb-3">Mon, Dec 31, 2018, 11:59 PM –</h5>
                  <p>Boston Harbor Now in partnership with the Friends of Christopher Columbus Park, the Wharf District Council and the City of Boston is proud to announce the New Year's Eve Midnight Harbor Fireworks! This beloved nearly 40-year old tradition is made possible by the generous support of local waterfront organizations and businesses and the support of the City of Boston and the Office of Mayor Marty Walsh.</p>
                  <h5 class="mt-0 mb-3">Tue, Jan 1, 2019, 12:19 AM EST
                  </h5>
                  <p>Boston Harbor Now in partnership with the Friends of Christopher Columbus Park, the Wharf District Council and the City of Boston is proud to announce the New Year's Eve Midnight Harbor Fireworks! This beloved nearly 40-year old tradition is made possible by the generous support of local waterfront organizations and businesses and the support of the City of Boston and the Office of Mayor Marty Walsh.</p>
               </div>
               <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                  <div class="accordion" id="accordionExample">
                     <div class="card">
                        <div class="card-header" id="headingOne">
                           <h2 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Collapsible Group Item #1
                              </button>
                           </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                           <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                           </div>
                        </div>
                     </div>
                     <div class="card">
                        <div class="card-header" id="headingTwo">
                           <h2 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Collapsible Group Item #2
                              </button>
                           </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                           <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                           </div>
                        </div>
                     </div>
                     <div class="card">
                        <div class="card-header" id="headingThree">
                           <h2 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Collapsible Group Item #3
                              </button>
                           </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                           <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-3 col-lg-3">
         <div class="bg-white p-3 widget shadow rounded mb-4">
            <h1 class="h6 mb-3 mt-0 font-weight-bold text-gray-900">Location</h1>
            <p class="text-gray-900"><b>Boston Harborwalk</b><br>Christopher Columbus Park<br>Boston, MA 02109<br>United States</p>
            <p><i class="fas fa-mobile fa-fw"></i> +00 12354 89564</p>
            <p class="mb-0"><i class="fas fa-envelope-open fa-fw"></i> youremail@gmail.com</p>
         </div>
         <div class="bg-white p-3 widget shadow rounded mb-4">
            <h1 class="h6 mb-3 mt-0 font-weight-bold text-gray-900">Map</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501889.1723543713!2d73.1567129962395!3d31.003573085499188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391964aa569e7355%3A0x8fbd263103a38861!2sPunjab!5e0!3m2!1sen!2sin!4v1570105072228!5m2!1sen!2sin" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
         </div>
      </div>
   </div></app-frame>