<app-frame>
   <!-- Page Heading -->
   <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-3">
      <h1 class="h5 mb-0 text-gray-900"></h1>
      <a [routerLink]="['/']" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Reset Filters <i class="fas fa-times fa-sm text-white-50"></i></a>
   </div>
   <!-- Content Row -->
   <div class="row">
      <div class="col-xl-3 col-lg-4">
         <div class="filters mobile-filters shadow rounded bg-white mb-4 d-none d-block d-md-none">
            <div class="border-bottom">
               <a class="h6 font-weight-bold text-dark d-block m-0 p-3" data-toggle="collapse" href="#mobile-filters" role="button" aria-expanded="false" aria-controls="mobile-filters">Filter By <i class="fas fa-angle-down float-right mt-1"></i></a>
            </div>
            <div id="mobile-filters" class="filters-body collapse multi-collapse">
               <div id="accordion" >
                  <div  *ngIf="mobileFilters" class="filters-card border-bottom p-3">
                     <div class="filters-card-header" id="headingOffer">
                        <h6 class="mb-0">
                           <a [routerLink]="['/']" class="btn-link" data-toggle="collapse" data-target="#collapseSort" aria-expanded="true" aria-controls="collapseSort">
                           Sort by Products <i class="fas fa-angle-down float-right"></i>
                           </a>
                        </h6>
                     </div>
                     <div id="collapseSort" class="collapse" aria-labelledby="headingOffer" data-parent="#accordion">
                        <div class="filters-card-body card-shop-filters">
                           <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="osahan111">
                              <label class="custom-control-label" for="osahan111">Relevance </label>
                           </div>
                           <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="osahan112">
                              <label class="custom-control-label" for="osahan112">Price (Low to High)
                              </label>
                           </div>
                           <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="osahan113">
                              <label class="custom-control-label" for="osahan113">Price (High to Low)
                              </label>
                           </div>
                           <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="osahan114">
                              <label class="custom-control-label" for="osahan114">Discount (High to Low)
                              </label>
                           </div>
                           <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="osahan115">
                              <label class="custom-control-label" for="osahan115">Name (A to Z)
                              </label>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="filters-card border-bottom p-3">
                     <div class="filters-card-header" id="headingTwo">
                        <h6 class="mb-0">
                           <a [routerLink]="['/']" class="btn-link" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                           Select Audience
                           <i class="fas fa-angle-down float-right"></i>
                           </a>
                        </h6>
                     </div>
                     <div id="collapsetwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="filters-card-body card-shop-filters">
                           <form class="filters-search mb-3">
                              <div class="form-group">
                                 <i class="fas fa-search"></i>                                 
                                 <input type="text" class="form-control" placeholder="Start typing to search..." [(ngModel)]="ip" (ngModelChange)="filterAudience()" name="cool1">
                              </div>
                           </form>
                           <div class="custom-control custom-checkbox" *ngFor="let aud of filteredAudience;let i=index">
                              <input type="checkbox" class="custom-control-input" [id]="'osahan116'+i" >
                              <label class="custom-control-label" [for]="'osahan116'+i">{{aud.country}} <small class="text-black-50">{{aud.value}}</small></label>
                           </div>
                          
                           <div class="mt-2"><a [routerLink]="['/']" class="link">See all</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="filters-card border-bottom p-3">
                     <div class="filters-card-header" id="headingOne">
                        <h6 class="mb-0">
                           <a [routerLink]="['/']" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           Poll Status <i class="fas fa-angle-down float-right"></i>
                           </a>
                        </h6>
                     </div>
                     <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="filters-card-body card-shop-filters">
                           <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="osahan1155">
                              <label class="custom-control-label" for="osahan1155">Active <small class="text-black-50">{{activePolls.length}}</small>
                              </label>
                           </div>
                           <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="osahan1166">
                              <label class="custom-control-label" for="osahan1166">Inactive <small class="text-black-50">{{inactivePolls.length}}</small>
                              </label>
                           </div>
                           
                        </div>
                     </div>
                  </div>
                  <div class="filters-card border-bottom p-3">
                     <div class="filters-card-header" id="headingOffer">
                        <h6 class="mb-0">
                           <a [routerLink]="['/']" class="btn-link" data-toggle="collapse" data-target="#collapseOffer" aria-expanded="true" aria-controls="collapseOffer">
                           Genre <i class="fas fa-angle-down float-right"></i>
                           </a>
                        </h6>
                     </div>
                     <div id="collapseOffer" class="collapse" aria-labelledby="headingOffer" data-parent="#accordion">
                        <div class="filters-card-body card-shop-filters">
                           <div class="custom-control custom-checkbox" *ngFor="let category of categories;let i=index">
                              <input type="checkbox" class="custom-control-input" [id]="'osahan1155'+i">
                              <label class="custom-control-label" [for]="'osahan1155'+i">{{category.name}} <small class="text-black-50">{{category.value}}</small>
                              </label>
                           </div>
                           <div class="mt-2"><a [routerLink]="['/']" class="link">See all</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="filters shadow rounded bg-white mb-3 d-none d-sm-none d-md-block">
            <div class="filters-header border-bottom p-3">
               <h6 class="m-0 text-dark">Filter By</h6>
            </div>
            <div class="filters-body">
               <div id="accordion">
                  <div class="filters-card border-bottom p-3">
                     <div class="filters-card-header" id="headingTwo">
                        <h6 class="mb-0">
                           <a [routerLink]="['/']" class="btn-link" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                           Select Audience
                           <i class="fas fa-angle-down float-right"></i>
                           </a>
                        </h6>
                     </div>
                     <div id="collapsetwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="filters-card-body card-shop-filters">
                           <form class="filters-search mb-3">
                              <div class="form-group">
                                 <i class="fas fa-search"></i>                                 
                                 <input type="text" class="form-control" placeholder="Start typing to search..." [(ngModel)]="ip" (ngModelChange)="filterAudience()" name="cool">
                              </div>
                           </form>
                           <div *ngFor="let aud of filteredAudience;let i=index" class="custom-control custom-checkbox" >
                              <input type="checkbox" class="custom-control-input" [id]="'osahan11w'+i">
                              <label class="custom-control-label" [for]="'osahan11w'+i">{{aud.country}} <small class="text-black-50">{{aud.value}}</small></label>
                           </div>
                           
                           <div class="mt-2"><a [routerLink]="['/']" class="link">See all</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="filters-card border-bottom p-3">
                     <div class="filters-card-header" id="headingOne">
                        <h6 class="mb-0">
                           <a [routerLink]="['/']" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           Poll Status <i class="fas fa-angle-down float-right"></i>
                           </a>
                        </h6>
                     </div>
                     <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="filters-card-body card-shop-filters">
                           <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="osahan11z">
                              <label class="custom-control-label" for="osahan11z"> Active <small class="text-black-50">{{activePolls.length}}</small>
                              </label>
                           </div>
                           <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="osahan11zz">
                              <label class="custom-control-label" for="osahan11zz"> Inactive <small class="text-black-50">{{inactivePolls.length}}</small>
                              </label>
                           </div>
                           </div>
                     </div>
                  </div>
                  <div class="filters-card border-bottom p-3">
                     <div class="filters-card-header" id="headingOffer">
                        <h6 class="mb-0">
                           <a [routerLink]="['/']" class="btn-link" data-toggle="collapse" data-target="#collapseOffer" aria-expanded="true" aria-controls="collapseOffer">
                           Genre <i class="fas fa-angle-down float-right"></i>
                           </a>
                        </h6>
                     </div>
                     <div id="collapseOffer" class="collapse" aria-labelledby="headingOffer" data-parent="#accordion">
                        <div class="filters-card-body card-shop-filters">
                           <div class="custom-control custom-checkbox" *ngFor="let category of categories;let i =index">
                              <input type="checkbox" class="custom-control-input" [id]="'osahan11z'+i">
                              <label class="custom-control-label" [for]="'osahan11z'+i"> {{category.name}} <small class="text-black-50">{{category.value}}</small>
                              </label>
                           </div>
                           <div class="mt-2"><a [routerLink]="['/']" class="link">See all</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-9 col-lg-8">
         <div class="row">
            <div class="col-xl-4 col-md-6 mb-4" *ngFor="let poll of pollList;" >
               <div class="card e-card shadow border-0">
                  <a [routerLink]="['/poll',poll.id]">
                     <div class="m-card-cover square">
                        <img src="/assets/img/o1.jpg" class="card-img-top" alt="...">
                     </div>
                     <div class="card-body p-0">
                        <div class="row no-gutters align-items-center">
                           <div class="col-2 auto py-3 pl-3">
                              <div class="bg-white rounded text-center">
                                 <h6 class="text-danger mb-0 font-weight-bold">{{poll.date.getDate()}}</h6>
                                 <small class="text-muted">{{months[ poll.date.getMonth() ].slice(0,3)| uppercase}}</small>
                              </div>
                           </div>
                           <div class="col-8 p-3">
                              <p class="card-text text-gray-900 mb-1">{{poll.name}}</p>
                              <p class="card-text"><small class="text-muted"><i class="fas fa-map-marker-alt fa-sm ml-1"></i> {{poll.location}}</small></p>
                           </div>
                           <div class="col-2 p-3" *ngIf="!poll.active" >
                                 <i class="fas fa-circle red-circle"></i>
                           </div>
                        </div>
                     </div>
                  </a>
               </div>
            </div>
            
         </div>
         <div class="text-center mt-1 mb-4 col-12" *ngIf="loading">
            <div class="spinner-border" role="status">
               <span class="sr-only">Loading...</span>
            </div>
         </div>
      </div>
   </div>
   </app-frame>